/* это стиль картинки */
@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
    url("./src/asserts/fonts/Inter-Bold.ttf") format("truetype");
    /*url("./src/asserts/fonts/Inter-Bold.woff2") format("woff");*/
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
    url("./src/asserts/fonts/Inter-Medium.ttf") format("truetype");
    /*url("./static/fonts/Inter-Medium.woff2") format("woff");*/
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
    url("./src/asserts/fonts/Inter-Regular.ttf") format("truetype");
    /*url("./static/fonts/Inter-Regular.woff2") format("woff");*/
    font-weight: 400;
}

img {
    width: 250px;
    height: 250px;
}

.my-img {
    width: 100px;
    height: 100px;
}

.my-img_width {
    width: 300px;
}

#second-img {
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

[show] {
    display: flex;
    width: 150px;
    height: 150px;
}

img.show {
    height: 400px;
}

.show {
    display: flex;
    width: 150px;
    height: 150px;
}

.first-class,
.second-class {
    width: 500px !important;
}

.second-class {
    height: 500px;
    display: flex;
    background-color: #85545482;
    background-color: rgba(133, 84, 84, 0.51);
    background-image: url("./kotik_d_850.webp");
    background-position: center;
    /* background-position-x: -864px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /*background: #85545482 url("./kotik_d_850.webp") center fixed no-repeat;*/
}

.first-class {
    /*border-color: #85545482;*/
    /* border-style: solid; */
    /* border-width: 10px 20px 30px; */
    /* border: 1px solid #85545482; */
    border-bottom: 10px solid #e56b6b;
    border-top: 10px solid #e56b6b;
    border-left: 10px solid #e56b6b;
    border-right: 10px solid #e56b6b;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100px;
}

.title-h1 {
    color: #e56b6b;
    font-family: "Inter", sans-serif, Verdana;
    /*font-style: initial;*/
    /*font-variant: small-caps;*/
    /*font-weight: 600;*/
    /*font-size: 15px;*/
    /*line-height: 48px;*/
    font: bold 24px Arial;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.list {
    list-style-type: circle;
    /*list-style-image: url("./kotik_d_850.webp");*/
}

.div1,
.div2 {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    margin: 25px;
}

.div1 {
    background-color: rgba(255, 0, 0, 0.45);
}

.div2 {
    background-color: rgba(0, 0, 255, 0.51);
}

.header {
    background-color: rgba(0, 128, 0, 0.44);
    width: calc(100% - 100px);
    padding: 25px 50px;
}

.header__item {
    background-color: rgba(128, 11, 0, 0.44);
    width: 100px;
    height: 50px;
    transition: background-color 0.3s, color 0.5s;
}

.header__item:not(:last-of-type) {
    margin-bottom: 15px;
}

.header__item:last-of-type:hover {
    background-color: rgba(0, 0, 255, 0.51);
}

.header__item:nth-child(odd) {
    background-color: rgb(69, 242, 1);
}

.header__item:nth-child(even) {
    background-color: rgb(170, 40, 40);
}

.header__item:nth-child(3n + 1) {
    background-color: rgb(1, 77, 242);
}

.header__item:nth-last-child() {

}

.header__item:first-child {

}

.header__item:last-child {

}

.header__item:only-child {

}

.header__item:empty {

}

.header__item:nth-of-type() {

}

.header__item:first-of-type {

}

.header__item:last-of-type {

}

a {
    font-size: 40px;
}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:focus {
    color: blue;
}

a:active {
    color: brown;
}

input:valid {

}

input:invalid {

}

input:enabled {

}

input:disabled {

}

input:in-range {

}

p:lang() {

}

input:checked {

}

li {
    width: 50px;
}

li:first-letter {
    font-size: 50px;
    color: green;
}

li:first-line {
    font-size: 40px;
    color: red;
}

li:before {
    content: 'new';
    color: brown;
}

li:after {
    content: 'new';
    color: #8a2aa5;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}