@import "fonts.css";
.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 80px;
  position: fixed;
  width: 1124px;
  height: 56px;
  left: 108px;
  top: 24px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  z-index: 100;
}

.email__small-screen{
  display: none;
}

.email-icon__small-screen{
  display: none;
}

.button__menu{
  display: none;
}

.main__logo{
  width: 120px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #2D66EE;
  text-decoration: none
}

.menu li{
  display: flex;
  text-decoration: none;
}

.menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 324px;
  padding: 18px;
}

.menu__item a{
  text-decoration: none;
  color: #101828;
}

.contacts li{
  display: block;
}

.contacts li a{
  text-decoration: none;
}

.phone__numbers li{
  display: block;
}

.phone__numbers{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 266px;
  height: 24px;
}

.phone__icon{
  width: 21px;
  height: 21px;
}

.email__icon{
  width: 19px;
  height: 15px;
}

.email{
  width: 142px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #2D66EE;
}

.number{
  display: inline;
  width: 109px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #2D66EE;
}

.contacts{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 472px;
  height: 24px;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;

  position: relative;
  width: 600px;
  left: 108px;
  margin-bottom: 0;
}

.description__big{
  width: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  color: #101828;
  margin-bottom: 0;
}

.description__small{
  width: 500px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #101828;
  margin-top: 0;
}

.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  position: relative;
  width: 676px;
  left: 108px;
  top: 50px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.feedback__text{
  width: 500px;
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #101828;
}

.consultation{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 628px;
}

.input__number__text,
.input__name__text{
  width: 224px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #667085;
  margin: 0;
  padding: 0;
}

.input__number,
.input__name{
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 159px;
  height: 22px;
  margin: 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid;
}

.consultation{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 628px;
  flex-direction: row;
}

.name__block,
.number__block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 224px;
}

.button__consultation{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 24px;
  gap: 8px;
  width: 132px;
  height: 58px;
  background: #2D66EE;
  border-radius: 8px;
  cursor: pointer;
}

.button__text__consultation{
  width: 84px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #FFFFFF;
  text-align: left;
}

.feedbackAndDescription{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("Group 1.png");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: right;
}

.development-cycle__block{
  background: white;
  margin: 0;
  padding-left: 108px;
  padding-top: 80px;
  padding-bottom: 82px;
}

.Webtech__head, .Mobiletech__head {
  width: 496px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
}

.Webtech__list li, .Mobiletech__list li{
  display: flex;
  text-decoration: none;
  color: #344054;
  font-family: 'Inter';
  font-style: normal;
  font-size: 17px;
}

.Webtech__list li:after, .Mobiletech__list li:after{
  content:"/";
  padding-left: 5px;
  padding-right: 5px;
  color: #2D66EE;
  font-family: 'Inter';
  font-style: normal;
  font-size: 17px;
}

.Webtech__list li:last-child:after, .Mobiletech__list li:last-child:after{
  content:"";
}

.Webtech__list, .Mobiletech__list{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  color: #344054;
  width: 496px;
}

.LinksTech__list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  position: absolute;
  width: 233px;
  left: 836px;
  top: 980px;
}

.LinksTech__list li a{
  text-decoration: none;
  color: #1D2939;
}

.LinksTech__list li a:visited, .LinksTech__list li a:focus{
  color: #1D2939;
}

.LinksTech__list li:hover{
  text-decoration: none;
  color: #1D2939;
  border-bottom: #2D66EE 1px solid;
  font-weight: bold;
}

.LinksTech__list li{
  display: flex;
  text-decoration: none;
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1D2939;

}

.LinksTech__list li:after{
  content: url("/web-technologies-2022-2/Icon Color (2).svg");
  padding-left: 21px;
}

.Developed__projects-block{
  padding-left: 108px;
  padding-top: 80px;
  padding-bottom: 13px;
}

.Projects__list li{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 16px;

  width: 391px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #101828;
}

.Projects__list{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
}

.projects-example__block{
  margin: 0;
  padding-left: 108px;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;
  margin: auto;

  width: 1224px;
  left: 108px;
  height: 222px;

  background: #101828;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.h1__footer{
  color: #FFFFFF;
  size: 36px;
  line-height: 18px;
  margin: 0;

}

.footer__names li, .footer__info li{
  display: flex;
  width: 1224px;
}

.footer__names, .footer__info{
  display: flex;
  color: white;
  width: 1224px;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
}

.footer__names{
  color: #98A2B3;
}

.h2__footer{
  padding-top: 10px;
  width: 160px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #FFFFFF;
}

.blue__text{
  color: #2D66EE;
}

body{
  background-color: #f2f4f7;
}

.footer__mobile{
  display: none;
}

@media screen and (max-width: 1400px){
  html{
    width: auto !important;
    margin: 0;
    padding: 0;
  }

  body{
    margin: 0;
    padding: 0;
    width: auto;
  }

  .Header{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    z-index: 100;
    justify-content: space-between;
  }

  .footer{
    width: auto;
  }

  .button__menu{
    display: flex;
    padding-left: 39px;
    text-decoration: none;
    border: none;
    background-color: white;
  }

  .button__menu:hover{
    display: flex;
    padding-left: 39px;
    text-decoration: none;
    background-color: white;
  }

  .menu{
    display: none;
  }

  .email__small-screen{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
    text-decoration: none;
    padding-right: 25px;
  }

  .email-icon__small-screen{
    display: flex;
    padding-right: 5px;
  }

  .email__small-screen img{
    width: 19px;
    height: 18px;
  }

  .email__small-screen a{
    text-decoration: none;
  }

  .contacts{
    display: none;
  }

  .main__logo{
    display: flex;
    padding: 0;
    margin: 0;
  }


  .feedback{
    width: 382px;
    height: 356px;
    justify-content: normal;
  }

  .consultation{
    flex-direction: column;
    align-items: flex-start;
    width: 224px;
  }

  .feedbackAndDescription{
    background-size: 600px;
    background-position-x: 530px;
  }

  .button__consultation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 160px;
    height: 40px;
  }

  .button__text__consultation{
    width: 110px;
  }

  .feedback__text{
    width: 285px;
  }

  .description__big{
    width: 410px;
  }

  .description__small{
    width: 310px;
  }

  .development-cycle__block{
    padding-top: 2px;
    width: auto;
    padding-left: 40px;
    height: 499px;
  }

  .Webtech__list, .Mobiletech__list{
    width: 320px;
  }

  .LinksTech__list{
    left: 443px;
    right: 92px;
    padding-top: 222px;
    gap: 24px;
  }

  .LinksTech__list li{

  }

  .footer-main__block{
    width: auto;
  }

  .footer__names, .footer__info{
    width: 700px;
  }

  .footer{
    max-width: 768px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer__mobile{
    display: none;
  }
}
@media screen and (max-width: 426px){
  .email__small-screen{
    display: none;
  }

  .Header{
    justify-content: normal;
    width: 100%;
  }

  .description{
    left: 32px;
  }

  .description__big{
    font-size: 28px;
    width: 380px;
  }

  .feedback{
    width: 345px;
    left: 24px;
  }

  .feedback__text{
    font-size: 16px;
  }

  .LinksTech__list{
    position: unset;
    display: flex;
    padding: 0  ;
    padding-top: 32px;
  }

  .development-cycle__block{
    padding-bottom: 344px;
  }

  .Developed__projects-block{
    padding-left: 18px;
    padding-top: 32px;
  }

  .description__big-projects-blog{
    margin: 0;
    width: 350px;
    font-size: 28px;

  }

  .Webtech__head, .Mobiletech__head{
    width: 375px;
  }
  .Projects__list li{
    font-size: 14px;
    width: 200px;
    padding-top: 15px;
  }

  .Projects__list li img{
    width: 44px;
    height: 44px;
  }

  .projects-example__block{
    padding-left: 18px;
  }

  .footer__names, .footer__info{
    width: 375px;
  }

  .description{
    width: 380px;
  }

  .footer{
    display: none;
  }

  .footer__mobile{
    display: flex;
    width: auto;
  }
}