.faq {
    background-color: $whiteColor;
    border: 1px solid $whiteColor;
    color: $gray900;

    h2 {
        margin: 79px 0 40px;
        font-family: $titleText;
        font-weight: 700;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
    }

    .questions {
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        column-gap: 24px;

        .questions-el {
            width: 600px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: 16px;
            row-gap: 32px;
            border-top: .5px solid $gray300;

            .content {
                max-width: 524px;

                h3 {
                    margin-top: 46px;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.38px;
                }

                p {
                    margin: 24px 0 28px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: -0.24px;

                    span {
                        font-weight: 600;
                    }
                }
            }


            button {
                margin: 28px 0;
                width: 63px;
                height: 63px;
                background-color: $whiteColor;
                background-image: url('../../assets/img/faq-open-button.svg');
                background-repeat: no-repeat;
                background-position: center;
                
                &:hover {
                    cursor: pointer;
                }
            }

            &:nth-last-child(-n+2) {
                border-bottom: .5px solid $gray300;
            }

            &:nth-child(2) {
                button {
                    background-image: url('../../assets/img/faq-close-button.svg');
                }
            }
        }
    }
}