/* Hero */
.hero {
    position: relative;
    height: 900px;
    background: $gray100;
    border: 1px solid $gray100;
    z-index: 0;
    
    color: $gray900;
    
    .wrapper {
        position: relative;
    }

    span {
        color: $blueColor;
    }

    .hero-title {
        display: block;
        max-width: 600px;
        margin-top: 200px;
    
        font-family: $titleText;
        font-weight: 700;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
    }
    
    .hero-text {
        display: block;
        max-width: 600px;
        margin-top: 24px;
    
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
    }
    
    .hero-contacts {
        max-width: 676px;
        min-height: 138px;
        margin-top: 64px;
        padding: 24px;
    
        background: $whiteColor;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
        border-radius: 12px;

        h3 {
            font-family: $titleText;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.38px;
        }

        .hero-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 34px;

            .hero-form-el {
                max-width: 224px;
                min-height: 58px;

                label {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: -0.078px;
                    color: $gray500;
                }

                input {
                    margin-top: 8px;
                    border-bottom: 0.7px solid $gray300;
                
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: -0.408px;

                    &:focus {
                        outline: auto;
                    }
                }
            }

            button {
                max-width: 132px;
                min-height: 58px;
                padding: 11px 24px;
                background: $blueColor;
                border-radius: 8px;
            
                text-align: left;
                font-weight: 600;
                color: $whiteColor;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .image-group {
        position: absolute;
        display: inline-block;
        top: -1200px;
        height: 1960px;
        
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
    
        transform: rotate(-12deg);
        animation: 10s linear;
        animation-iteration-count: infinite;
    
        &:nth-child(1) {
            right: 230px;
            width: 485px;
            background-image: url('../../assets/img/hero/column-left.webp');
            @include heroImageAnimation(firstImage-1, 0px, -1960px);
        }
        
        &:nth-child(2) {
            right: 230px;
            width: 485px;
            background-image: url('../../assets/img/hero/column-left.webp');
            @include heroImageAnimation(firstImage-2, 1960px, 0px);
        }
        
        &:nth-child(3) {
            right: 5px;
            width: 293px;
            background-image: url('../../assets/img/hero/column-right.webp');
            @include heroImageAnimation(secondImage-1, 0px, 1960px);
        }
        
        &:nth-child(4) {
            right: 5px;
            width: 293px;
            background-image: url('../../assets/img/hero/column-right.webp');
            @include heroImageAnimation(secondImage-2, -1960px, 0px);
        }
    }
}