.stages {
    background-color: $whiteColor;

    .wrapper {
        padding: 80px 16px;

        .stages-title {
            margin-bottom: 34px;
            font-family: $titleText;
            font-weight: 700;
            font-size: 36px;
            line-height: 144%;
            letter-spacing: 0.326451px;
            color: $gray900;
        }

        .stages-groups {
            display: flex;
            justify-content: space-between;

            .stages-group {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .stages-el {
                    max-width: 392px;
                    margin: 0 0 24px;
                    padding: 24px;
                    background: $whiteColor;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
                    border-radius: 12px;
                    background-size: contain;
                    background-position: top right;
                    background-repeat: no-repeat;
                    
                    h3 {
                        display: inline-block;
                        margin: 0 0 0 27px;

                        text-align: center;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 0.38px;
                        color: $gray900;
                    }

                    p {
                        margin-top: 17px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: -0.24px;
                        color: $gray900;
                    }
                }
            }
        }
    }
}

#stage-1 {
    background-image: url('../../assets/img/stages/1.png');
}

#stage-2 {
    background-image: url('../../assets/img/stages/2.png');
}

#stage-3 {
    background-image: url('../../assets/img/stages/3.png');
}

#stage-4 {
    background-image: url('../../assets/img/stages/4.png');
}

#stage-5 {
    background-image: url('../../assets/img/stages/5.png');
}

#stage-6 {
    background-image: url('../../assets/img/stages/6.png');
}