<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documents</title>
    <link rel="stylesheet" href="/src/assets/styles/style.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="./../assets/icons/logo.jpg" alt="Image Logo" width="500" height="600">
        <ul>
        <li>
            <a href="./../index.html">
                Главная
            </a>
        </li>
        <li>
            <a href="./../components/contacts.html">
                Контакты
            </a>
        </li>
       </ul>
    </div>
    <div class="breadcrumbs">
        <div>
            <a href="#">
                Один
            </a>
        </div>
        <div>
            <a href="#">
                Два
            </a>
        </div>
        <div>
            <a href="#">
                Три
            </a>
        </div>
        <div>
            <a href="#">
                Четыре
            </a>
        </div>
        <div>
            <a href="#">
                Пять
            </a>
        </div>
    </div>
</header>

<div class="content">
    <h3>
        Us contact
    </h3>
    <p>
        Click on a snippet to paste it into the text field.
    </p>
    <img src="./../assets/img/download.jpg">
    <h4>
        <p>
            To pin, add or remove snippets, use the edit icon.
        </p>
    </h4>
    <h4>
        <li>
            <a href="tel:89667632001">
                89667632001
            </a>
        </li>
        <li>
            <a href="tel:89207423023">
                89207423023
            </a>
        </li>
    </h4>
    <h4>
        Onlive service
    </h4>
    <ul>
        <li>
            <a href="mail: uwupunkvii@gmail.com">
                uwupunkvii@gmail.com
            </a>
        </li>
        <li>
            <a href="https://github.com/glacie5">
                https://github.com/glacie5
            </a>
        </li>
    </ul>
    <h4>
        Message for us
    </h4>

    <from action="" class="contact-form">
        <label for="first name">
            First Name
        </label>
        <input class="input" id="first name" type="text" placeholder="first name" name="first_name">
               <label for="mail">
                   mail
               </label>
        <input class="input" id="mail" type="email" placeholder="mail" name="mail">
        <label for="message">
            message
        </label>
            <textarea class="input" id="message" placeholder="message" name="message"></textarea>
            <input type="submit" name="submit">
    </from>
</div>

<footer>
    <h3>
        hello yall!
    </h3>

    <p>
        Don't worry, the character won't die from such intense stress the first time.
    </p>
    <hr>

    <ul>
        <li>Also in this situation, the buyer has the right to go to court</li>
            <li>
            <a href="tel: 89667632001">
                89667632001
            </a>
        </li>
        <li>
            <a href="mail: uwupunkvii@gmail.com">
                uwupunkvii@gmail.com"
            </a>
        </li>
    </ul>
    <p>
        "All rights reserved"
    </p>
</footer>

</body>
</html>