<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <img src="./../assets/img/logo.png" width="200" height="200" alt="Image Logo">
    <ul>
        <li>
            <a href="./../index.html">
                Главная
            </a>
        </li>
        <li>
            <a href="./../components/contacts.html">
                Контакты
            </a>
        </li>
    </ul>
</header>
<h3>
    Contact Us
</h3>
<p>
    Use this contacts if you need help
</p>
<img src="./../assets/img/contacts.png" width="400" height="400" alt="Contact logo">
<h4>
    Address
</h4>
<p>
    Use this contacts if you need help
</p>
<h4>
    Phone
</h4>
<ul>
    <li>
        <a href="tel:89567823490">
            89567823490
        </a>
    </li>
    <li>
        <a href="tel:89343457648">
            89343457648
        </a>
    </li>
</ul>
<h4>
    Online service
</h4>
<ul>
    <li>
        <a href="mailto:malchenko.03@mail.ru">
            malchenko.03@mail.ru
        </a>
    </li>
    <li>
        <a href="https://first_task.com/">
            https://first_task.com
        </a>
    </li>
</ul>
<h4>
    Send us message
</h4>
<form>
    <label for="full_name">
        Full Name
    </label>
    <input id="full_name" type="text" placeholder="Full Name" name="full_name">
    <label for="email">
        Email
    </label>
    <input id="email" type="email" placeholder="Email" name="email">
    <label for="message">
        Message
    </label>
    <textarea id="message" placeholder="Message" name="message"></textarea>
    <input type="submit" name="submit" placeholder="Send">
</form>
<footer>
    <h3>
        This is fifth
    </h3>
    <p>
        Getting Started - About Version Control.
    </p>
    <hr>
    <ul>
        <li>About us.</li>
        <li>
            <a href="tel:89042347628">
                89042347628
            </a>
        </li>
        <li>
            <a href="mailto:malchenko.03@mail.ru">
                malchenko.03@mail.ru
            </a>
        </li>
    </ul>
    <p>
        All rights reserved
    </p>
</footer>
<script src="index.js"></script>
</body>
</html>
