/* Common */
* {
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $mainText;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    font-style: normal;
}

.wrapper {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 16px;
    /* position: relative; */
}

.main {
    flex: 1 0 auto;
}