body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.pizza-order {
    padding: 80px 40px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}


/* Parameters */
.pizza-order__parameters {
    position: relative;
    background: rgb(252, 252, 252);
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}



/* Types */
.pizza-order__types {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.pizza-order__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(6, 5, 50, 0.12) 0 4px 20px;
    border: 2px solid white;
    border-radius: 12px;
    padding: 8px;
    transition: .2s;
}

.pizza-order__type:hover {
    border-color: rgb(255, 105, 0);
}

.pizza-order__type_active {
    border-color: rgb(255, 105, 0);
}



/* Sizes */

.pizza-order__disabled {
    position: absolute;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
    opacity: .2;
    width: 105%;
    height: 105%;
    background-color: gray;
}

.pizza-order__sizes-wrapper {
    position: relative;
}

.pizza-order__sizes {
    background-color: rgb(243, 243, 247);
    display: flex;
    align-items: center;
    border-radius: 12px;
    position: relative;
    padding: 10px;
}

.pizza-order__size {
    position: relative;
    z-index: 2;
    flex: 1;
    padding: 4px 12px;
    text-align: center;
    box-sizing: border-box;
}

.pizza-order__pizza-img {
    max-width: 154px;
}

.background-item {
    transition: .2s;
    height: calc(100% - 10px);
    box-shadow: rgba(6, 5, 50, 0.19) 0 0 12px;
    position: absolute;
    left: 0;
    border-radius: 12px;
    background-color: white;
}



/* Topping */

.pizza-order__toppings-wrapper {
    position: relative;
}

.pizza-order__toppings {
    display: flex;
    gap: 16px;
}

.pizza-order__topping {
    width: calc(33.3333% - 8px);
    box-shadow: rgba(6, 5, 50, 0.12) 0 4px 20px;
    border-radius: 12px;
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    border: 2px solid white;
    transition: .2s;
}

.pizza-order__topping:hover {
    border-color: rgb(255, 105, 0);
}

.pizza-order__topping_active {
    border-color: rgb(255, 105, 0);
}

.pizza-order__topping-name {
    text-align: center;
}

.pizza-order__topping-info {
    font-weight: bold;
}

.pizza-order__topping-img {
    display: block;
    max-width: 132px;
}



/* button */

.pizza-order__button {
    margin-top: 32px;
    border: none;
    width: 100%;
    border-radius: 2000px;
    font-size: 16px;
    line-height: 24px;
    height: 75px;
    color: white;
    background-color: rgb(255, 143, 46);
}