@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Bold'), local('Inter Bold'),
    url("/static/fonts/Inter/Inter-Bold.ttf") format("truetype"),
    url("/static/fonts/Inter/Inter-Bold.woff2") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Medium'), local('Inter Medium'),
    url("/static/fonts/Inter/Inter-Medium.ttf") format("truetype"),
    url("/static/fonts/Inter/Inter-Medium.woff2") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'), local('Inter-Regular'), local('Inter Regular'),
    url("/static/fonts/Inter/Inter-Regular.ttf") format("truetype"),
    url("/static/fonts/Inter/Inter-Regular.woff2") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('/static/fonts/SF Pro/SFProDisplay-Regular.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('/static/fonts/SF Pro/SFProDisplay-Bold.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('/static/fonts/SF Pro/SFProDisplay-Medium.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('/static/fonts/SF Pro/SFProDisplay-Regular_1.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('/static/fonts/SF Pro/SFProDisplay-Bold_1.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('/static/fonts/SF Pro/SFProDisplay-Medium_1.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('/static/fonts/SF Pro/SFProDisplay-Semibold.woff2') format('woff2'),
    url('/static/fonts/SF Pro/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

