@import url("/src/assets/styles/normalize.css");

@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.menu {
    height: 60px;
    background: linear-gradient(0deg, rgba(60,129,131,1) 0%, rgba(255,255,255,1) 100%);
    line-height: 60px;
}

.menu a {
    padding: 15px;
    border-radius: 50px;
    border-right: 3px solid white;
    box-shadow: 10px 0px 5px -5px black;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.menu a:hover {
    color: #ffffff;
}

.biggest-heading {
    font-size: 64px;
    color: #1F3F68;
}

.heading-two {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading-three {
    font-size: 36px;
    text-align: center;
}

.heading-four {
    color: #1F3F68;
    font-size: 20px;
    line-height: 30px;
}

.paragraphs {
    color: #1F3F68;
    font-size: 16px;
    line-height: 26px;
}

.contact-img {
    width: 300px;
}

.input-fields {
    box-sizing: border-box;
    border: 1px solid #356EAD;
    border-radius: 10px;
    opacity: 0.4;
}

.submit-btn button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(71, 118, 230, 1) 0%, rgba(152, 100, 235, 1) 100%);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.submit-btn button:hover {
    color: #e9e9e9;
}