@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

body{
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
}
.container {
    margin: 0 166px;
}

.header {
    background-image: url("../icons/welcome.png");
    height: 100vh;
    background-repeat: round;
    background-repeat: no-repeat;
    background-position:80% 90%;
}
.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-line{

    border: 4px solid white;
    box-sizing: border-box;
    border-radius: 12px;
    background: white;
    height: 56px;
    width: 1124px;
    padding-top: 16px;
    box-shadow: 0px 0px 2px black;
}

.nav-item{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-right: 25px;
}

.num{
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    word-spacing: 2px;
    margin: 0 10px;
}

.phone-holder{
    display: flex;
    align-items: center;
}

.mail-text{
    color: cornflowerblue;
    text-decoration: none;
}
.mail-holder{
    display: flex;
    align-items: center;
}

.header-title{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 100px;
}
.oneder-title{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.header-sub{
    color: black;
    font-family: "SF Pro Display", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.twoheader-title{
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.mobile-text{
}