@media (max-width: 426px) {
    /* Header */
    /* Close menu */
    .header-content {
        justify-content: start;
        padding: 35px 0;
    }

    .header-content .header-navigation,
    .header-content .header-contacts {
        display: none;
    }

    .header-menu-btn label span {
        width: 40px;
        height: 4px;
        margin: 0 0 0 17px;
    }

    /* Open menu */
    /* Menu button */
    #burger:checked ~ .header-content .header-menu-btn label {
        top: 34px;
        right: 29px;
    }

    /* Menu content */
    #burger:checked ~ .header-content {
        height: 642px;
    }

    #burger:checked ~ .header-content .header-logo {
        font-size: 20px;
        line-height: 18px;
        margin: 98px 156px 52px;
    }
    
    #burger:checked ~ .header-content .header-navigation {
        row-gap: 21px;
    }

    #burger:checked ~ .header-content .header-navigation li a {
        font-size: 24px;
        line-height: 144%;
    }
    
    #burger:checked ~ .header-content .header-contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Footer */
    .footer-content {
        padding: 32px 0;
    }
    
    .footer-contacts {
        margin: 50px 0 20px 36px;
    }

    .footer-contacts-el:nth-child(odd) {
        width: 154px;
        margin: 0 75px 32px 0;
    }

    .footer-contacts-el:nth-child(4) {
        width: 154px;
    }
    /* Main */
    /* Hero */
   .hero {
        width: 100%;
        min-height: 1267px;
    }

    .hero .wrapper {
        padding: 0 16px;
    }
    
    .hero-contacts {
        width: 393px;
        margin-top: 536px;
        padding: 32px;
    }

    .hero-image {
        background-image: url('../assets/img/hero/hero-phone.png');
        top: 337px;
        left: 15px;
        width: 410px;
        height: 890px;
    }

    /* Cycle */
    .cycle .wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        padding: 0 40px;
    }
    
    .cycle-pages {
        margin-top: 44px;
        padding: 0;
    }

    .cycle-pages li:last-child {
        margin-bottom: 64px;
    }
}