@media (max-width: 769px) {
    /* Header */
    .header .wrapper {
        padding: 0;
    }

    /* Close menu */
    .header-content {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 90px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
    
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 32px;

        transition: .5s all;
    }

    .header-content .header-navigation,
    .header-content .header-contacts .header-contacts-phones {
        display: none;
    }

    .header-logo {
        margin: 0 0px 0 100px;
    }

    .header-menu-btn label:hover {
        cursor: pointer;
    }

    .header-menu-btn label span {
        display: block;
        width: 59px;
        height: 8px;
    }

    .header-menu-btn label span:nth-child(odd) {
        background-color: #2D66EE;
    }

    .header-menu-btn label span:nth-child(even) {
        background-color: white;
        transition: .5s all;
    }

    /* Open menu */
    /* Menu button */
    #burger:checked ~ .header-content .header-menu-btn label {
        position: absolute;
        top: 54px;
        right: 150px;
    }

    #burger:checked ~ .header-content .header-menu-btn label span:nth-child(odd) {
        visibility: hidden;
    }

    #burger:checked ~ .header-content .header-menu-btn label span:nth-child(even) {
        position: absolute;
        width: 24px;
        height: 4px;
        background-color: #98A2B3;
        top: 50%;
        border-radius: 10px;
    }

    #burger:checked ~ .header-content .header-menu-btn label span:nth-child(2) {
        transform: rotate(225deg);
    }

    #burger:checked ~ .header-content .header-menu-btn label span:nth-child(4) {
        transform: rotate(-225deg);
    }

    /* Menu content */
    #burger:checked ~ .header-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 800px;

        z-index: 10;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
    
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        margin:0;


    }

    #burger:checked ~ .header-content .header-logo {
        font-size: 48px;
        line-height: 48px;
        margin: 143px 0 52px 0;
    }
    
    #burger:checked ~ .header-content .header-navigation {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        row-gap: 32px;
    }

    #burger:checked ~ .header-content .header-navigation li a {
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
    }
    
    #burger:checked ~ .header-content .header-contacts {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 50px;
        margin: 55px 0 140px 0;
    
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.154px;
        color: #2D66EE;
    }

    #burger:checked ~ .header-content .header-contacts-phones {
        display: flex;
    }

    /* Footer */
    .footer {
        padding: 0;
    }
    
    .footer .wrapper {
        padding: 0;
    }

    .footer-content {
        padding: 50px 0 37px;
    }
    
    .footer-contacts {
        margin-left: 56px;
    }

    .footer-contacts-el {
        width: 176px;
    }
    
    .footer-contacts-el:nth-child(2) {
        width: 156px;
    }
    
    .footer-contacts-el p {
        font-size: 14px;
    }
    /* Main */
    /* Hero */
   .hero {
        height: 762px;
    }

    .hero .wrapper {
        padding: 0 40px;
    }

    .hero-title {
        max-width: 383px;
        margin-top: 138px;
    
        font-size: 28px;
    }
    
    .hero-text {
        max-width: 383px;
    }
    
    .hero-contacts {
        max-width: 382px;
        margin-top: 32px;
        padding: 32px;
    }
    
    .hero-contacts h3 {
        font-size: 16px;
    }
    
    .hero-form {
        margin-top: 32px;
    }
    
    .hero-form-el {
        min-height: 54px;
        margin-bottom: 32px;
    }
    
    .hero-form-el input {
        font-size: 14px;
    }

    .hero-form button {
        max-width: 160px;
        min-height: 40px;
        padding: 11px 19px 11px 24px;
    }

    .hero-image {
        background-image: url('../assets/img/hero/hero-tablet.png');
        width: 398px;
        height: 762px;
    }

    /* Cycle */
    .cycle .wrapper {
        display: flex;
        column-gap: 82px;
        padding: 0 40px;
    }
    
    .cycle-technologies {
        width: 321px;
    }
    
    .cycle-technologies h2 {
        margin: 32px 0;
        letter-spacing: 0.326451px;
        font-size: 27px;
    }

    .cycle-technologies p ~ p {
        max-width: 321px;
    }
    
    .cycle-pages {
        margin-top: 160px;
        padding: 0;
    }

    .cycle-pages li:last-child {
        margin-bottom: 23px;
    }
}